<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalconsultation">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalConsultation">
        <activity android:name=".PostComments"></activity>
        <activity android:name=".CommentSection" />
        <activity android:name=".PatientProblem" />
        <activity android:name=".DoctorsProfile"/>
        <activity android:name=".PatientHomePage" />
        <activity android:name=".DoctorHomePage" />
        <activity android:name=".DoctorRegister" />
        <activity android:name=".PatientRegister" />
        <activity android:name=".LogInPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>